<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Promise, Not Pride!</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
</head>

<body>
    <div id="rainbow"></div>
    <img id="userPhoto" src="https://yt3.googleusercontent.com/w0qOiJ12QdvJhsiIXHq1PpbUWzvC-2-p3faqXPtz8L6wYH8prXX49KpKdzD_W0TGQLzy_K_fvik=s176-c-k-c0x00ffffff-no-rj" alt="User Photo">
    <a href="https://www.youtube.com/@BrysonGrayMusic" id="userName">@BrysonGrayMusic</a>
    <div id="links">
        <a class="link" href="https://www.kingjamesbibleonline.org/Genesis-Chapter-9/" target="_blank">Read Genesis 9:8-17</a>
        <a class="link" href="https://www.brysoncreates2.com/products/promise-not-pride-hoodie" target="_blank">Promise, Not Pride!</a>
    </div>

    <!-- Javascript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script  src="index.js"></script>
</body>
</html>
